body {
  margin: 0 0 0 0;
  background-image: url("img/default_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  color: white;
  text-align: center;
  font-family: "Lato";
  font-size: 10em;
  width: 100%;
  margin-top: -1em;
  padding-top: 2em;
  padding-bottom: 2em;
  background: linear-gradient(#0000, #000, #0000);
}
#title-container {
  position: absolute;
  z-index: -1;
  width: 100%;
}
.menu {
  color: white;
  text-align: center;
  font-family: "Lato";
  font-size: 2em;
  width: 100%;
}
.menu > .space {
  height: 66vh;
}
.menu a, .submenu a {
  display: block;
  color: #bad6d5;
  text-decoration: none;
}

header > .title {
  font-size: 5em;
}
.submenu > div {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40vw;
  max-height: 40vw;
}

.submenu {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -8vw;
  text-align: center;
}

.submenu > a {
  display: inline-block;
  width: 40vw;
  height: 30vw;
  margin: 0 1.5em 0 1.5em;
}
.submenu > a > div {
  width: 100%;
  padding: 15vw 0 15vw 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.photo-label {
  font-size: 3em;
  background-color: #0008;
}
.thumb-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
  margin: 0 2em 2em 2em;
}
.thumb-container a {
}
.thumb-container img {
  width: 100%;
}
