body {
  margin: 0 0 0 0;
}

.title {
  color: white;
  text-align: center;
  font-family: "Lato";
  font-size: 10em;
  width: 100%;
  margin-top: -1em;
  padding-top: 2em;
  padding-bottom: 2em;
  background: linear-gradient(#0000, #000, #0000);
}
#title-container {
  position: absolute;
  z-index: -1;
  width: 100%;
}
.menu {
  color: white;
  text-align: center;
  font-family: "Lato";
  font-size: 2em;
  width: 100%;
}
.menu > .space {
  height: 66vh;
}

body {
  background-image: url("img/violin.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
